* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container nav .logo {
  font-size: 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: aqua;
  padding: 0 30px;
  box-sizing: border-box;
}

.container nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.container nav ul li a {
  text-decoration: none;
  color: white;
}

.container nav ul li a:hover {
  text-decoration: none;
  color: lightgray;
  transition: color 0.3s ease;
}

#heroes {
  display: flex;
}

.hero {
  width: 100%;
  background-image: url("Among-trees.jpg");
  height: 100vh;
  background-size: cover;
}

#heroes .hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

#heroes .hero h2 {
  color: white;
  margin-bottom: 30px;
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 5px;
}